<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBAGdy7GWykkD--bnzcEfHYWr9Th8UuLfs</string>
	<key>GCM_SENDER_ID</key>
	<string>360761357759</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.contactDemo2</string>
	<key>PROJECT_ID</key>
	<string>skct-contacts-1</string>
	<key>STORAGE_BUCKET</key>
	<string>skct-contacts-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:360761357759:ios:3b9a09158784ea99825d0a</string>
</dict>
</plist>